<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>home</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='/css/chat.css'>
    
    
</head>
<body >

    <a href=" http://localhost:2000/CROIR?guest=jmyy&section=IM&who=guest" target="_blank">dddd</a>
</body>
</html>
