ul li{
    text-decoration-style: none;
    display: inline;
}

div{
    border-radius: 10px;
}
.window{
    float: left;
    
    padding: 20px;
    border :  1px solid black;
    border-collapse: collapse;
    width:700px;
    height: 503px;
    

}
.UsersDiv{
    border :  1px solid black;
    border-collapse: collapse;
    width:150px;
    height: 500px;
    position: absolute;
    
}
.chatting{
    float: right;
    border :  1px solid black;
    border-collapse: collapse;
    width:530px;
    height: 500px;
    padding-left: 10px;
    
    
}
.log{
    
    border-collapse: collapse;
    width:520px;
    height: 430px;
    overflow-y: auto;
    overflow-x: auto;
}

.input{
    border :  1px solid black;
    border-collapse: collapse;
    width:450px;
    height: 40px;
    margin-left: 1px;
    margin-top: 1px;
    border-radius: 10px;
}
.button{
    height: 40px;
    width: 60px;
    text-align: center;
    vertical-align: middle;
    border-radius: 10px;

}
.doctorImg{
    width: 30px;
    height: 30px;
}
.doctorMg{
    float: left;
    color: lawngreen;
    
}

.guestMg{


}